.main-div {
    /* background-color: red; */
    width: 100%;
    /* display: block; */
}

.user-div {
    /* background-color: blue; */
    width: 40%;
    display: flex;
    text-align: center;
    flex-direction: column;
    box-shadow: 5px 14px 20px rgba(0, 0, 0, 0.5);
    margin: 0 0 5em 0;
    transition: ease-in-out 1s;
    
}

.user-div:hover {
    box-shadow: 10px 28px 40px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}