body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: darkblue; */
  /* background-color: rgb(253, 82, 110); */

}

nav {
/* background-color: red; */
display: flex;
justify-content: flex-end;
}

a {
  /* background-color: blue; */
  margin:0.5em 0 0 1em;
  padding: 1em;
  text-decoration: none;
  color: grey;
  font-size: 1.5em;
  border: 1px solid grey;
  border-radius: 5%;
}
